header{background-image: url(https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/56595384_10216325120674088_3080451029746057216_n.jpg?_nc_cat=101&_nc_oc=AQmdCzmuUzK_QH7HWFxVFquTQkk56YHiksoFm3BhGPdjSci2zyPeGqcWgBmocndIdCdDx0ro4kncdz7JTpf_1eS9&_nc_ht=scontent-cdg2-1.xx&oh=60d260deaee589f31b92d33f63356d98&oe=5DE5ECE2);
       background-repeat:no-repeat;
       background-size: cover;
       height: 400px;
       background-position: center;
       background-clip: border-box;
       border: 4mm ridge rgba(13, 98, 168, 0.6)}

h1{font-family: 'Dancing Script', sans-serif;
   font-size: 80px;
   text-align: center}

header nav :link{color:white}
header nav :hover{color:rgb(37, 211, 241)}
header nav{line-height:53px;
           text-indent : 10px;
           float: left;
           font-family: 'Dancing Script', sans-serif;
           font-size: 30px}
header nav li {color:white;
               margin-left: 50px}

header img{display: block;
           margin-right: 58%;
           margin-left: 42%;
           height : 200px}

div{background-color: rgb(236, 223, 223)}

h2{font-family: 'Architects Daughter', sans-serif;
   background-color: rgb(220, 203, 231);
   font-size: 25px}

.h3floatleft{font-family: 'Crafty Girls', sans-serif;
           background-color: rgb(208, 226, 233);
           font-size: 18px;
           display:block;
           float:left;
           width:50%}

.ulblockleft{clear:left;
           display:block;
           float:left;
           width:50%;
           list-style-type:none}

.spe:before {content: "\A4 \ "}

.imgleft{height : 100px;
       display:block;
       float:left}

.h3floatright{font-family: 'Crafty Girls', sans-serif;
            background-color: rgb(208, 226, 233);
            font-size: 18px;
            display:block;
            float:right;
            width:50%}

.ulblockright{clear:right;
            display:block;
            float:right;
            width:50%;
            list-style-type:none}

.imgright{height : 100px;
         display:block;
         float:right}

hr{clear:both}

hr{height:10px; color: rgba(13, 98, 168, 0.6); background: rgba(13, 98, 168, 0.6); border-top:2px blue dashed}
