*{overflow-x : visible}

header{background-image: url(https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/56595384_10216325120674088_3080451029746057216_n.jpg?_nc_cat=101&_nc_oc=AQmdCzmuUzK_QH7HWFxVFquTQkk56YHiksoFm3BhGPdjSci2zyPeGqcWgBmocndIdCdDx0ro4kncdz7JTpf_1eS9&_nc_ht=scontent-cdg2-1.xx&oh=60d260deaee589f31b92d33f63356d98&oe=5DE5ECE2);
       background-repeat:no-repeat;
       background-size: cover;
       height: 400px;
       background-position: center;
       background-clip: border-box;
       border: 4mm ridge rgba(13, 98, 168, 0.6)}

h1{font-family: 'Dancing Script', sans-serif;
   font-size: 80px;
   text-align: center}

header nav :link{color:white}
header nav :hover{color:rgb(37, 211, 241)}
header nav{line-height:53px;
           text-indent : 10px;
           position: absolute;
           top:175px;
           font-family: 'Dancing Script', sans-serif;
           font-size: 30px}
header nav li {color:white;
               margin-left: 50px}

.headerimg1{position: absolute;
           top:200px;
           left: 42%;
           height : 200px}

.headerimg2{height : 60px;
            position: absolute;
            top:300px;
            left: 755px}

.divcorps{background-color: rgb(236, 223, 223)}

h2 img{height : 30px;
       margin-top: 10px;
       margin-left: 10px}

h2{font-family: 'Architects Daughter', sans-serif;
   background-color: rgb(220, 203, 231);
   font-size: 25px;
   text-decoration: dotted underline}

.h3floatleft{font-family: 'Crafty Girls', sans-serif;
             background-color: rgb(208, 226, 233);
             font-size: 18px;
             display:block;
             float:left;
             width:50%}

.ulblockleft{clear:left;
             display:block;
             float:left;
             width:50%;
             list-style-type:none}

.spe:before {content: "\A4 \ "}

.imgleft{height : 100px;
         display:block;
         float:left;
         transform: rotate(0.1turn);}

.h3floatright{font-family: 'Crafty Girls', sans-serif;
              background-color: rgb(208, 226, 233);
              font-size: 18px;
              display:block;
              float:right;
              width:50%}

.ulblockright{clear:right;
              display:block;
              float:right;
              width:50%;
              list-style-type:none;
              margin-right: -40px}

.imgright{height : 100px;
          display:block;
          float:right;
          transform: rotate(-0.1turn);
          margin-right: 60px}

.clear{clear:both;
       font-style: italic;
       font-size: 13px;
       color: black}

.vidéo{position: absolute;
       top: 875px;
       right: 50px;
       width: 200px}

hr{height:10px; color: rgba(13, 98, 168, 0.6); background: rgba(13, 98, 168, 0.6); border-top:2px blue dashed}

h3{font-family: 'Crafty Girls', sans-serif;
   background-color: rgb(208, 226, 233);
   font-size: 18px}
   
h3 img{height : 30px;
       margin-top: 10px}

.h3partie2{margin-left: 60px;
           margin-right: 800px}

thead{background-color:rgb(16, 102, 117);
      color: white;
      text-align:center}

table,th,.tdfoot{border-collapse: separate;
      border: 1px solid rgb(5, 145, 170)}

td{border-collapse: separate;
   border: 1px dashed rgb(49, 152, 170)}

.tdpetittable1{width :150px;
               text-align:center}

.tdgrandtable1{text-align:justify}

table :link{color:black}

tfoot{color: grey;
      font-style: italic}

.table2{margin-left: auto;
        margin-right: auto}

.tdtable2{width :275px;
          height: 150px}

.tdtable2bis{width :275px;
             height: 150px;
             text-align: center}

.textemotiv{font-family: 'The Girl Next Door', sans-serif;
            font-weight: bold;
            font-size: 17px;
            text-align:justify;
            margin-right: 75px;
            margin-left: 75px}

footer{font-style: italic;
       font-size: 11px}

footer img{height : 30px}

form{background-color: rgb(230, 231, 236)}

legend{font-weight:bold}

.bold{font-weight:bold}

input[type="submit"]{font-weight:bold;
                     color:white;
                     background:black}
